<html>

<head>
    <title>Michał Rykowski</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    @RenderSection("Scripts", required:false)
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-item">
                <div class="center">
                    <a href="/">
                        <h3 style="color: #DAA21B;">Michał Rykowski</h3>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="center">
                    <a href="/projects">
                        <h5>Projects</h5>
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="center">
                    <a href="/cv">
                        <h5>CV</h5>
                    </a>
                </div>
            </div>
        </div>
        <!--Navbar end-->
        @RenderBody()
    </div>
</body>

</html>