the best way of representation
@{
    Layout = "_Layout";
}
<div class="tile-set">
    <div class="tile-row">
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>C#</h1>
                    <div class="subtext">High proficiency in writing C# code</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>.Net core</h1>
                    <div class="subtext">Both desktop and web applications</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>MySql</h1>
                    <div class="subtext">Familiar with sql databases</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>API</h1>
                    <div class="subtext">Developed REST API with asp .net core</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-row">
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>Linux</h1>
                    <div class="subtext">Using both Windows and Linux on daily basis</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>Git</h1>
                    <div class="subtext">Basic ability to handle git version control</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>LinkedIn</h1>
                    <div class="subtext">My LinkedIn profile</div>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="container-table">
                <div class="center">
                    <h1>Contact</h1>
                    <div class="subtext">My contact information</div>
                </div>
            </div>
        </div>
    </div>
</div>
