@using MichalRykowskiWebsite.Models;
@model Message

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Michał Rykowski</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="~/style/bootstrap.min.css">
    <link rel="script" href="~/style/bootstrap.min.js">
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Michal Rykowski</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ApiWork</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Content-->
    <main role="main" class="container">
        <h1>@Model.Content</h1>
    </main>
</body>
</html>