@using MichalRykowskiWebsite.Models;
@model Message
@{
    Layout = "_Layout";
}
@section Scripts{
    <script>
        function FillData() {
            @if (Model != null) {
                @:document.getElementById("ContentText").innerText = "@Model.Content";
                @:document.getElementById("AuthorText").value = "@Model.Author";
            }
        }
        function PostWithAjax() {
                let formData = $('form').serializeArray();
                var json = JSON.stringify({ Author: formData[0].value, Content: formData[1].value });
                $.ajax({
                    method: "POST",
                    type: "POST",
                    url: "https://localhost:44314/api/message",
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: json
                });
            }
    </script>
}
<form>
    <div class="row">
        <div class="col">
            <input id="AuthorText" class="form-control" type="text" name="Author" placeholder="author" value="">
        </div>
    </div>
    <textarea id="ContentText" class="form-control" rows="5" name="Content" placeholder="Content" value=""></textarea>
    <input class="btn btn-primary" value="Send" onclick="PostWithAjax()">
</form>